<section>
    <div class="card-content white-text">
      <span class="card-title" style="font-family: 'Pacifico'; font-size: 60px; margin-bottom: 10px">Qual é a boa?</span>
    </div>
	<div id="newsletter" class="visible">
		<div class="container">	
			<div class="row">
				<div class="m12 offset-m0 s12">
					<article class="card white" data-position="left" data-delay="50">
						  <div class="row">
						    <div class="col s12">
						      <ul class="tabs">
						        <li class="tab col s3"><a class="active" href="#test1">Votar</a></li>
						        <li class="tab col s3"><a  href="#test2">Contribuir</a></li>
						      </ul>
						    </div>
						    <div id="test1" class="col s12">

						    	<div class="row">
								    <div class="col s12">
								        <div class="col s6">
								        	<div class="card" style="background-color:#26757F">
								            <div class="card-content white-text">
								              Por Temas
								            </div>													  
								          </div>
								          <ul class="collapsible popout" data-collapsible="accordion">
								          	<% @panels.each do |p| %>
								          		<% if p.actor == "tema" %>
														    <li>
														      <div class="collapsible-header"><%= p.title %></div>
														      <div class="collapsible-body">
														      	<p><%= p.description %></p> 

														      	<p>Votos: <%= p.vote %></p> 
														      		<a href="/vote/<%= p.id %>" class="btn-floating waves-effect waves-light space-bottom red" type="submit" name="action">
																		    <i class="fa fa-heart"></i>
																			</a>
														      </div>
														    </li>
														  <% end %>
												    <% end %>
												  </ul>
								        </div>

								        <div class="col s6">
								        	<div class="card" style="background-color:#26757F">
								            <div class="card-content white-text">
								              Por Palestrante
								            </div>
								          </div>

								          <ul class="collapsible popout" data-collapsible="accordion">
												    <% @panels.each do |p| %>
								          		<% if p.actor == "palestrante" %>
														    <li>
														      <div class="collapsible-header"><%= p.title %></div>
														      <div class="collapsible-body">
														      	<p><%= p.description %></p> 

														      	<p>Votos: <%= p.vote %></p> 
														      		<a href="/vote/<%= p.id %>" class="btn-floating waves-effect waves-light space-bottom red" type="submit" name="action">
																		    <i class="fa fa-heart"></i>
																			</a>
														      </div>
														    </li>
														  <% end %>
												    <% end %>
												  </ul>							        	
								        </div>
								    </div>
								  </div>

						    </div>
						    <div id="test2" class="col s12">
						    	<div class="col s6 offset-l3" style="margin-top:20px">
							    	<%= form_for(@panel) do |f| %>
										  <div class="field tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nome do Palestrante ou Tema">
										    <%= f.text_field :title, placeholder: "Nome ou Título"  %>
										  </div>

										  <div class="field tooltipped" data-position="bottom" data-delay="50" data-tooltip="Descreva esse painel">
										    <%= f.text_area :description, placeholder: "Descrição", class: "materialize-textarea"  %>
										  </div>
										  <br>
										  <div class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Será tema ou um palestrante?">
										    <p>
										    	<%= f.radio_button :actor, true, class: "with-gap" %>
										      <label for="panel_actor_true">Palestrante</label>
										    </p>

										    <p>
										    	<%= f.radio_button :actor, false, class: "with-gap" %>
										      <label for="panel_actor_false">Tema</label>
										    </p>
									    </div>

										  <div class="actions tooltipped" data-position="bottom" data-delay="50" data-tooltip="Você está certo desta resposta?">
										    <button type="submit" class=" right btn btn-lg btn-primary btn-block" onclick="facebook_share()">Seria irado!</button>

										  </div>
										<% end %>
								  </div>
						    </div>
						  </div>
					</article>
					<div class="col s6 offset-l3">
				  	<div class="card white">
				      <div class="card-content white-text">
				        Por Temas
				      </div>													  
				    </div>
				  </div>
					
				</div>
			</div>
		</div>	
	</div>
	<div class="down visible" data-destination="#what"></div>	
</section>

<script>
 $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
</script>



