<!DOCTYPE html>
<html>
<head>
  <title>QualÉABoa?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <script src="//connect.facebook.net/en_US/all.js"></script>
  <%= csrf_meta_tags %>

  <meta property="og:title" content="ENEEJ 2015"/>
	<meta property="og:type" content="Website" />
	<meta property="og:url" content="http://qualeaboa.herokuapp.com/" />
	<meta property="og:image" content="" />
	<meta property="og:site_name" content="qualeaboa" />
	<meta property="og:description"
	      content="Qual é a boa do Eneej? Vamos contribuir para o conteúdo, votem aí o que vocês desejam ver por lá." />
</head>
<body data-no-turbolink>

<%= yield %>
	<% if !flash[:alert].blank? %>
		<%= toastr(flash[:alert], "error") %>
	<% end %>
	<% if !flash[:notice].blank? %>
		<%= toastr(flash[:notice], "success") %>
	<% end %>
</body>
</html>
